[flake8]
extend-exclude =
	.mypy_cache,
	.nox,
	.pytest_cache,
	.venv,
	__pycache__,

per-file-ignores =
    tests/*.py:S101

# black compatibility
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
max-line-length = 100
extend-ignore = E203, E704

# flake8-docstring
docstring-convention = google
