[flake8]
extend-exclude =
	.mypy_cache,
	.venv,
	dist,
	__pycache__,
	.nox,

per-file-ignores =
    tests/*.py:D

# black compatibility
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
max-line-length = 88
extend-ignore = E203, E704
